<header>
  <div class="title">
    <a href="/" class="logo">
      <div class="logo__square logo__square--red"></div>
      <div class="logo__square logo__square--yellow"></div>
      <div class="logo__square logo__square--blue"></div>
    </a>
    <a class="site-header" href="/">
      <h1>
        Three Colored Squares
      </h1>
    </a>
    <div>
      <iframe scrolling="no" style="border: 0;width: 100%;height: 33px;" src="https://bandcamp.com/band_follow_button_classic/963529399"></iframe>
    </div>
  </div>
  {% include navigation.html %}
</header>
