header {
  height: 40px;
  display: flex;
  align-items: center;
}

.logo {
  display: inline-flex;
}

.logo__square {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.logo__square--red {
  background-color: #F7642C;
}

.logo__square--yellow {
  background-color: #FBF043;
}

.logo__square--blue {
  background-color: #3885ED;
}

.current {
  color: red;
}
