header {
  min-height: 40px;
  margin: 4px 8px 12px;
}

header .title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.site-header, .site-header:link, .site-header:visited {
  text-decoration: none;
  color: #000;
}

.site-header:hover {
  text-decoration: underline;
  color: #3885ED;
}

.site-header:active {
  color: #F7642C;
}

.logo {
  display: inline-flex;
  padding: 0 16px 0 0;
}

.logo__square {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.logo__square--red {
  background-color: #F7642C;
}

.logo__square--yellow {
  background-color: #FBF043;
}

.logo__square--blue {
  background-color: #3885ED;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

nav > a {
  padding: 2px 4px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  flex: 1;
  text-align: center;
  white-space: nowrap;
}
