@import "header";
@import "posts";
@import "player";

body {
  padding: 0;
  margin: 8px 16px 24px;
  font-family: serif;
}

a:link {
  color: #2F74D0;
}

a:visited {
  color: #be33db;
}

a:active {
  color: #F7642C;
}

.page-body {
  display: flex;
  flex-direction: row-reverse;
}

.sidebar {
  min-width: 250px;
  position: relative;
}
