@import "header";
@import "posts";
@import "player";

html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 8px 16px 24px;
  font-family: 'Alegreya Sans', sans-serif;
  background-image: url(/assets/06797968-D30B-4ABA-A72B-6924C1B1B78D.jpg);
  background-size: cover;
  background-position: bottom;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alegreya SC', serif;
}

a:link {
  color: #2F74D0;
}

a:visited {
  color: #be33db;
}

a:active {
  color: #F7642C;
}

.page-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebar {
  min-width: 250px;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .page-body {
    flex-direction: column;
  }
}
