.posts {
  display: flex;
  flex-direction: column;
}

.post-preview {
  display: flex;
  flex-direction: row-reverse;
  margin: 4px 8px 16px;
  justify-content: left;
}

.post-preview__text {
  display: flex;
  flex-direction: column;
}

.post-preview__title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
