.posts {
  display: flex;
  flex-direction: column;
}

.post-preview {
  display: flex;
  flex-direction: row;
  margin: 4px 8px 16px;
  justify-content: left;
  position: relative;
}

.post-preview__text {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

.post-preview__title {
  margin: 0px;
}

.post-preview__excerpt > p {
  margin: 8px 0;
}

.post-preview__thumbnail {
  width: 300px;
  min-width: 300px;
  min-height: 80px;
}

.post-preview__thumbnail-image {
  height: 100%;
  background-size: cover;
  background-position: center center;
}

@media only screen and (max-width: 900px) {
  .post-preview {
    flex-direction: column-reverse;
  }
  .post-preview__text {
    padding: 0;
  }
}
