.posts {
  display: flex;
  flex-direction: column;
}

.post-preview {
  display: flex;
  flex-direction: row-reverse;
  margin: 4px 8px 16px;
  justify-content: left;
}

.post-preview__text {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

.post-preview__title {
  margin: 0px;
}

.post-preview__excerpt > p {
  margin: 8px 0;
}
