<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="alternate" type="application/atom+xml" title="Three Colored Squares // Latest" href="/feed.xml">
    <title>
      {% if page.title %}
        {{ page.title }} // 
      {% endif %}
      
      {{ site.title }}
    </title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    {% include header.html %}
    
    <div class="page-body">

      <section class="content">
        {{ content }}
      </section>

      <aside class="sidebar">
        <div class="player-widget">
          {% include player.html %}
        </div>
      </aside>

    </div>

    {% include footer.html %}
  </body>
</html>
