<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} // {{ site.title }}</title>
  </head>
  <body>
    <section>
      {{ content }}
    </section>
    <aside>
      <section>
        myself:
        <a href="https://www.youtube.com/channel/UCFISXqb_pF0jmfkTEjFWyJw">youtube</a>
        <a href="https://soundcloud.com/ozornin">soundcloud</a>
        <a href="https://vk.com/ozornin_music">vk</a>
        <a href="https://open.spotify.com/user/ywfplq95qj26jd5vj6gpvdruf?si=hrxu76gZS4S7bDmplPyk6A">spotify</a>
      </section>
    </aside>
  </body>
</html>
